body {
    overflow: hidden; /* Recorta cualquier contenido que se salga del cuerpo */
    margin: 0%;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #EAB2BB, #FE7272);
    filter:blur(5px);/* Reduce el radio del efecto de desenfoque */
    z-index: -1; /* Asegura que esté detrás del contenido */
}
.header {
    overflow: hidden; /* Oculta cualquier contenido que sobrepase la altura máxima */
    position:sticky;
    z-index: 1; /* Asegura que esté delante del fondo */
    color: aquamarine;    
    clip-path: inset(0 0 12% 0);
}
.iconbeltane { 
    width: 40%;
    padding-left: 30%;
    z-index: 3; 
}

.title {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    z-index: 4; /* Asegura que esté por encima de los árboles */
}

.arbol1 {
    position: absolute;
    top: 47%;
    right: 50%; /* Mueve el árbol más a la izquierda */
    transform: translateY(-50%);
    width: 70%; /* Ajusta el tamaño del árbol según sea necesario */
    transform-origin: center;
    z-index: -1; /* Asegura que esté detrás de los otros elementos */
    transform: translateY(-50%) rotate(-90deg); /* Rota el árbol 90 grados a la izquierda */
    clip-path: inset(0 0 0 0);
}

.arbol2 {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateY(-50%);
    width: 70%;
    transform-origin: center;
    z-index: -1;
    transform: translateY(-50%) rotate(90deg);
    clip-path: inset(0 32% 0 0);/* Recorta la parte derecha de la imagen */
}




.divider {
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: black; /* Color de la línea */
}
