.custom-web-section {
  padding: 4rem 0; /* Simplifica padding-top y padding-bottom */

}

.custom-web-section .heading-lg {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: var(--color-text-light);
  font-weight: 700; /* Asegura que el título se vea bien definido */
  line-height: 1.2;
  text-align: center; /* Opcional: centra el título */
}

.custom-web-section .paragraph {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: var(--color-text-light);
  max-width: 600px; /* Limita el ancho para mejor lectura */
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  text-align: center; /* Opcional: centra el texto */
}
